<!DOCTYPE html>
<html>

<head>
    <% include common/meta.ejs %>
    <% include common/css.ejs %>

    <title>Tichu Online</title>
    <!-- Custom style -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cover.css">
</head>

<body>
<div class="cover-wrapper container">
    <div class="cover text-center">
        <h1>Tichu Online</h1>
        <p>티츄 온라인에 오신 것을 환영합니다.</p>

        <a href="/login" id="start" class="btn btn-borderless btn-lg">시작하기</a>
    </div>
</div>

<footer>
    <div class="container">
        <p class="text-center">Made by Illisia.</p>
    </div>
</footer>

<% include common/js.ejs %>
</body>

</html>