<!DOCTYPE html>
<html>

<head>
    <% include common/meta.ejs %>
    <% include common/css.ejs %>

    <title>Tichu Online - 회원 가입</title>
    <!-- Custom style -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
<div class="login-wrapper container">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <h1><a href="/">Tichu Online</a></h1>
            </div>
        </div>

        <div class="col-lg-offset-4 col-lg-4 col-xs-offset-2 col-xs-8">

            <% if (message.length > 0) { %>
            <div class="alert alert-warning alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p class="text-center"><%= message %></p>
            </div>
            <% } %>

            <form action="/join" method="POST">

                <div class="form-group has-feedback" id="email-form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required autofocus
                           onchange="checkEmail()">
                    <span class="glyphicon form-control-feedback" id="email-feedback" aria-hidden="true"></span>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>

                <div class="form-group has-feedback" id="username-form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required
                           onchange="checkUsername()">
                    <span class="glyphicon form-control-feedback" id="username-feedback" aria-hidden="true"></span>
                </div>

                <button type="submit" class="btn btn-borderless btn-block">회원 가입</button>
            </form>

            <a href="/login" class="btn btn-borderless btn-block">이미 아이디가 있으신가요?</a>
        </div>
    </div>
</div>

<% include common/footer.ejs %>

<% include common/js.ejs %>
<script>
    var isValidEmail = false;
    var isValidUsername = false;

    function checkEmail() {
        var email = $('#email').val();
        if (!email) {
            invalidateEmail();
            return;
        }

        $.get("/join/find/email/" + email, function (data, status) {
            if (!data) {
                invalidateEmail();
                return;
            }

            if (data.exists) {
                invalidateEmail();
            } else {
                validateEmail();
            }
        });
    }

    function checkUsername() {
        var username = $('#username').val();
        if (!username) {
            invalidateUsername();
            return;
        }

        $.get("/join/find/username/" + username, function (data, status) {
            if (!data) {
                invalidateUsername();
                return;
            }

            if (data.exists) {
                invalidateUsername();
            } else {
                validateUsername();
            }
        });
    }

    function validateEmail() {
        var $emailFormGroup = $('#email-form-group');
        var $emailFeedback = $('#email-feedback');

        isValidEmail = true;
        $emailFormGroup.removeClass('has-error');
        $emailFeedback.removeClass('glyphicon-remove');
        $emailFormGroup.addClass('has-success');
        $emailFeedback.addClass('glyphicon-ok');
    }

    function invalidateEmail() {
        var $emailFormGroup = $('#email-form-group');
        var $emailFeedback = $('#email-feedback');

        isValidEmail = false;
        $emailFormGroup.removeClass('has-success');
        $emailFeedback.removeClass('glyphicon-ok');
        $emailFormGroup.addClass('has-error');
        $emailFeedback.addClass('glyphicon-remove');
    }

    function validateUsername() {
        var $usernameFormGroup = $('#username-form-group');
        var $usernameFeedback = $('#username-feedback');

        isValidUsername = true;
        $usernameFormGroup.removeClass('has-error');
        $usernameFeedback.removeClass('glyphicon-remove');
        $usernameFormGroup.addClass('has-success');
        $usernameFeedback.addClass('glyphicon-ok');
    }

    function invalidateUsername() {
        var $usernameFormGroup = $('#username-form-group');
        var $usernameFeedback = $('#username-feedback');

        isValidUsername = false;
        $usernameFormGroup.removeClass('has-success');
        $usernameFeedback.removeClass('glyphicon-ok');
        $usernameFormGroup.addClass('has-error');
        $usernameFeedback.addClass('glyphicon-remove');
    }
</script>
</body>

</html>