<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tichu Online</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!-- Custom style -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="login-wrapper container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1><a href="/">Tichu Online</a></h1>
                </div>
            </div>

            <div class="col-lg-offset-4 col-lg-4 col-xs-offset-2 col-xs-8">

                <% if (message.length > 0) { %>
                    <div class="alert alert-warning alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <p class="text-center"><%=message%></p>
                    </div>
                <% } %>

                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="email" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-borderless btn-block">로그인</button>
                </form>

                <a href="/join" class="btn btn-borderless btn-block">티츄가 처음이세요?</a>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <p class="text-center">Made by Illisia.</p>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>