<!DOCTYPE html>
<html>

<head>
    <% include common/meta.ejs %>
    <% include common/css.ejs %>

    <title>Tichu Online</title>
    <!-- Custom style -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
<div class="login-wrapper container">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <h1><a href="/">Tichu Online</a></h1>
            </div>
        </div>

        <div class="col-lg-offset-4 col-lg-4 col-xs-offset-2 col-xs-8">

            <% if (message.length > 0) { %>
            <div class="alert alert-warning alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p class="text-center"><%= message %></p>
            </div>
            <% } %>

            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-borderless btn-block">로그인</button>
            </form>

            <a href="/join" class="btn btn-borderless btn-block">티츄가 처음이세요?</a>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <p class="text-center">Made by Illisia.</p>
    </div>
</footer>

<% include common/js.ejs %>
</body>

</html>